/* imLinks stylesheet */

.button {
	padding-right: 0.5em; 
	padding-left: 0.5em; 
	padding-bottom: 3px; 
	padding-top: 2px; 
	background-image: url(images/icon/backgnd.png); 
	background-position: center center; 
	background-repeat: repeat-x; 
	color: #444; 
	font-size: smaller; 
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer; 
	border: outset 1px #CCC;
	white-space: nowrap;
	}
	
.letters {
	margin-bottom: 8px; 
	margin-top: 8px; 
	padding-right: 0.5em; 
	padding-left: 0.5em; 
	padding-bottom: 1px; 
	padding-top: 1px; 
	background-image: url(images/icon/backgnd.png); 
	background-position: center center; 
	background-repeat: repeat-x; 
	color: #444; 
	font-size: smaller; 
	font-weight: bold; 
	cursor: pointer; 
	border: outset 1px #CCC;
	}
	
.infoblock { 
	padding: 4px; 
	background-color:#E6E6E6; 
	border: 1px solid #CCC;
	font-size: smaller;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
.infoblock2 { 
	padding: 5px; 
	border: 1px solid #CCC;
	font-size: smaller;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
fieldset {
	border: #E8E8E8 1px solid;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
legend {
	display: inline;
	font-weight: bold;
	}
	
div.imlinks_socbookmark {
	clear: both; 
	width: 70%; 
	vertical-align: bottom; 
	text-align: center; 
	margin-top: 15px; 
	margin-bottom: 5px;	
	}
	
div.imlinks_socbookmark a img {
	opacity: .4;
	-moz-opacity: .4;
	filter: alpha(opacity=40);
	}
	
div.imlinks_socbookmark a:hover img {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
	}
	
/*  styles for the unit rater
--------------------------------------------------------- 
ryan masuga, masugadesign.com
ryan@masugadesign.com 
Licensed under a Creative Commons Attribution 3.0 License.
http://creativecommons.org/licenses/by/3.0/
See readme.txt for full credit details.
--------------------------------------------------------- */

#container {
	width: 50%;
	border: 1px solid #CCC;
	padding: 20px;
	}

.ratingblock {
	}

.loading {
	height: 30px;
	background: url(images/icon/working.gif) 50% 50% no-repeat;
	}
	
.unit-rating { /* the UL */
	list-style:none;
	margin: 0px;
	padding:0px;
	height: 30px;
	position: relative;
	background: url(images/icon/starrating.gif) top left repeat-x;		
	}

.unit-rating div {
    text-indent: -90000px;
	padding:0px;
	margin:0px;
	float: left;
	}
	
.unit-rating div a {
	outline: none;
	display:block;
	width:30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
	}
	
.unit-rating div a:hover{
	background: url(images/icon/starrating.gif) left center;
	z-index: 2;
	left: 0px;
	}

.unit-rating a.r1-unit{left: 0px;}
.unit-rating a.r1-unit:hover{width:30px;}
.unit-rating a.r2-unit{left:30px;}
.unit-rating a.r2-unit:hover{width: 60px;}
.unit-rating a.r3-unit{left: 60px;}
.unit-rating a.r3-unit:hover{width: 90px;}
.unit-rating a.r4-unit{left: 90px;}	
.unit-rating a.r4-unit:hover{width: 120px;}
.unit-rating a.r5-unit{left: 120px;}
.unit-rating a.r5-unit:hover{width: 150px;}
.unit-rating a.r6-unit{left: 150px;}
.unit-rating a.r6-unit:hover{width: 180px;}
.unit-rating a.r7-unit{left: 180px;}
.unit-rating a.r7-unit:hover{width: 210px;}
.unit-rating a.r8-unit{left: 210px;}
.unit-rating a.r8-unit:hover{width: 240px;}
.unit-rating a.r9-unit{left: 240px;}
.unit-rating a.r9-unit:hover{width: 270px;}
.unit-rating a.r10-unit{left: 270px;}
.unit-rating a.r10-unit:hover{width: 300px;}

.unit-rating div.current-rating {
	background: url(images/icon/starrating.gif) left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
	}

.voted {}
.thanks {color:#36AA3D;}
.static {}	