<{if $show_categort_title == true}>
	<div style="margin-left: 5px; margin-bottom: 4px;"><b><{$smarty.const._MD_IMLINKS_CATEGORYC}></b><{$imlink.category}></div>
<{/if}>

<div class="imlinks_even" style="clear: both; margin-bottom: 5px;">
	<{$imlink.visittitle}>&nbsp;<{$imlink.icons}><{if $icms_isadmin}>&nbsp;<{$imlink.adminlink}> <{/if}>
</div>

<div style="width: 250px; float: right; margin-left: 10px; margin-right: 5px;">
	<div class="infoblock">
		<b><{$smarty.const._MD_IMLINKS_SUBMITTER}>:</b>&nbsp;<{$imlink.submitter}><br />
		<b><{$smarty.const._MD_IMLINKS_PUBLISHER}>:</b>&nbsp;<{$imlink.publisher}><br />
		<b><{$lang_subdate}>:</b>&nbsp;<{$imlink.updated|wordwrap:50:"\n":true}><br />
		<{$imlink.hits|wordwrap:50:"\n":true}><br />
		<{$imlink.country}>
	</div>
	<{if $imlink.infoblock2==1}>
		<div class="infoblock2" style="margin-top: 10px;">
		<{if $imlink.showrating > 0}>
			<{$imlink.ratingbar}>
		<{/if}>
		<{if $imlink.showpagerank > 0}>
			<{if $imlink.showrating > 0}>
				<br />
			<{/if}>
			<b><{$smarty.const._MD_IMLINKS_PAGERANK}></b>&nbsp;
			<img src="<{$icms_url}>/modules/<{$imlink.module_dir}>/images/icon/pr<{$imlink.pagerank}>.png" alt="<{$smarty.const._MD_IMLINKS_PAGERANKALT}><{$imlink.pagerank}>" title="<{$smarty.const._MD_IMLINKS_PAGERANKALT}><{$imlink.pagerank}>" style="vertical-align: middle;" />&nbsp;
			(<{$imlink.pagerank}>/10)
		<{/if}>
		</div>
	<{/if}>
</div>

<{if $imlink.autoscrshot == 0}>
	<{if $show_screenshot == true}>
		<{if $imlink.screenshot_full != ''}>
			<div style="float:right;"><{$imlink.visitscrshot}></div>
		<{/if}>
	<{/if}>
<{/if}>

<{if $imlink.autoscrshot == 1}>
	<div style="float:right;"><{$imlink.autothumbsrc}></div>
<{/if}>

<div style="margin-left: 6px;">
	<{if $lightwindow == true}>
		<{$imlink.visitspinner}>&nbsp;
		<{$imlink.visitlink}>
	<{else}>
		<a href="<{$imlink.visit}>" target="_blank"><img src="<{$icms_url}>/modules/<{$imlink.module_dir}>/images/icon/spinner.gif" alt="<{$smarty.const._MD_IMLINKS_LINKNOW}>" align="middle" /></a>&nbsp;
		<{$imlink.visitlink}>
	<{/if}>
</div>

<div style="margin-left: 5px; margin-top: 10px;">
	<b><{$smarty.const._DESCRIPTION}>: </b>
	<br />
	<{$imlink.description}>
	<!-- Display 'View full details' button -->
	<{if $imlink.published > 0 }>
		<div style="padding: 10px 0 5px 5px;"><{$imlink.viewdetails}></div>
	<{/if}>
</div>

<{if $imlink.quickview}>
	<div style="width: 99%;">&nbsp;</div>
	<script language="javascript" src="<{$icms_url}>/modules/<{$imlink.module_dir}>/js/quickview.js"></script>
		<br />
		<div class="imlinks_even" style="clear: both; text-align: center; width: 99%; border-bottom: 2px solid #AAAAAA;">
			<i><small><script>
			ppreview("<{$icms_url}>/modules/<{$imlink.module_dir}>/visit.php?cid=<{$imlink.cid}>&amp;lid=<{$imlink.id}>",<{$imlink.id}>);
			potherfunctions("<{$icms_url}>/modules/<{$imlink.module_dir}>/visit.php?cid=<{$imlink.cid}>&amp;lid=<{$imlink.id}>",<{$imlink.id}>, '');
			</script></small></i>
		</div>
<{/if}>

<div style="clear: both; width: 99%;">&nbsp;</div>