<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/<{$module_dir}>/style.css" />

<{$catarray.imageheader}>
<{$catarray.letters}>
<{$catarray.toolbar}>

<div class="imlinks_catpath" style="font-size: bigger; font-weight: bold; margin-bottom: 20px; margin-top: 10px;"><{$smarty.const._MD_IMLINKS_NEWLINKS}></div>

<div class="imlinks_table" style=" margin-left: 10px; margin-bottom: 25px; width: 400px;">
	<div class="imlinks_tblhdrrow">
		<div style="display: table-cell; padding: 3px; font-weight; bold;"><{$smarty.const._MD_IMLINKS_TOTALNEWLINKS}>:</div>
		<div style="display: table-cell; padding: 3px;"> </div>
	</div>
	<div class="imlinks_tblrow">
		<div class="imlinks_tblcell"><{$smarty.const._MD_IMLINKS_LASTWEEK}></div>
		<div class="imlinks_tblcell" style="text-align: center; width: 15%;"><{$allweeklinks}></div>
	</div>
	<div class="imlinks_tblrow">
		<div class="imlinks_tblcell"><{$smarty.const._MD_IMLINKS_LAST30DAYS}></div>
		<div class="imlinks_tblcell" style="text-align: center; width: 15%;"><{$allmonthlinks}></div>
	</div>
</div>

<div style="float: left; margin-right: 10px; margin-bottom: 20px; margin-left: 10px; clear: both;">
	<span style="margin-right: 8px; font-weight: bold;"><{$smarty.const._MD_IMLINKS_SHOW}>:</span>
	<a href="<{$icms_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=7"><span  class="button"><{$smarty.const._MD_IMLINKS_1WEEK}></span></a>
	<a href="<{$icms_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=14"><span  class="button"><{$smarty.const._MD_IMLINKS_2WEEKS}></span></a>
	<a href="<{$icms_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=30"><span  class="button"><{$smarty.const._MD_IMLINKS_30DAYS}></span></a>
</div>

<div class="imlinks_table" style=" margin-left: 10px; margin-bottom: 20px; width: 400px; float: left; clear: both;">
	<div class="imlinks_tblhdrrow">
		<div style="display: table-cell; padding: 3px; font-weight; bold;"><{$smarty.const._MD_IMLINKS_DTOTALFORLAST}> <{$newlinkshowdays}> <{$smarty.const._MD_IMLINKS_DAYS}></div>
		<div style="display: table-cell; padding: 3px;"> </div>
	</div>

<{if count($dailylinks) gt 0}>
	<!-- Start day loop -->
	<{foreach item=dailylink from=$dailylinks}>
		<div class="imlinks_tblrow">
			<div class="imlinks_tblcell"><a href="<{$icms_url}>/modules/<{$module_dir}>/viewcat.php?selectdate=<{$dailylink.newlinkdayRaw}>"><{$dailylink.newlinkView}></a></div>
			<div class="imlinks_tblcell" style="text-align: center; width: 15%;"><{$dailylink.totallinks}></div>
		</div>
	<{/foreach}>
	</div>
	<!-- End day loop -->

	<div>
		<!-- Start link loop -->
		<{section name=i loop=$link}>
			<{include file="db:imlinks_linkload.html" link=$link[i]}>
		<{/section}>
		<!-- End link loop -->
	</div>
<{/if}>