<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$module_dir}>/style.css" />
<{$catarray.imageheader}>
<{$catarray.indexheading}>
<{$catarray.indexheader}>
<div style="padding-bottom: 12px; text-align: center;" class="itemPermaLink"><{$catarray.letters}></div>
<div style="padding-bottom: 12px; text-align: center;"><{$catarray.toolbar}></div>

<{if count($categories) gt 0}> 
	<div class="even" style="font-weight: bold;"><{$smarty.const._MD_IMLINKS_MAINLISTING}></div>
	
<table width="100%" cellspacing="1" cellpadding="3" summary='' style="text-align: center;"> 
 <tr>
  <td colspan="2">&nbsp;</td>
 </tr>
 <tr> 
  <!-- Start category loop --> 
  <{foreach item=category from=$categories}>
   <td width="5%" style="text-align: center;"> 
    <a href="<{$xoops_url}>/modules/<{$module_dir}>/viewcat.php?cid=<{$category.id}>"><img src="<{$category.image}>" alt="<{$category.alttext}>" title="<{$category.alttext}>" align="top" /></a>
   </td> 
   <td width="35%" style="text-align: left; vertical-align: middle;">
   <a href="<{$xoops_url}>/modules/<{$module_dir}>/viewcat.php?cid=<{$category.id}>"><b><{$category.title}></b></a>&nbsp;(<{$category.totallinks}>) 
      <{if $category.subcategories}>
      <div style="margin-bottom: 3px; margin-left: 16px; font-size: smaller; vertical-align: top;"><{$category.subcategories}></div>
      <{/if}>
   </td>
  <{if $category.count is div by $catcols}> 
 </tr> 
 <tr> <{/if}> <{/foreach}> 
  <!-- End category loop --> 
 </tr> 
 <tr>
  <td colspan="2">&nbsp;</td>
 <tr>
</table>
<div class="odd" style="text-align: left; font-size: smaller;"><{$lang_thereare}></div>
<div style="padding-bottom: 12px; padding-top: 12px; vertical-align: middle;">
<div style="float: left;">&nbsp;<{$imlinks_feed}></div>
 <div style="float: right; font-size: smaller;">
  <img src="<{$xoops_url}>/modules/<{$module_dir}>/images/icon/linkload1_small.png" title="<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEW}>" alt="" align="middle"/>&nbsp;<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEW}> 
  <img src="<{$xoops_url}>/modules/<{$module_dir}>/images/icon/linkload2_small.png" title="<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEWTHREE}>" alt="" align="middle"/>&nbsp;<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEWTHREE}> 
  <img src="<{$xoops_url}>/modules/<{$module_dir}>/images/icon/linkload3_small.png" title="<{$smarty.const._MD_IMLINKS_LEGENDTEXTTHISWEEK}>" alt="" align="middle"/>&nbsp;<{$smarty.const._MD_IMLINKS_LEGENDTEXTTHISWEEK}> 
  <img src="<{$xoops_url}>/modules/<{$module_dir}>/images/icon/linkload4_small.png" title="<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEWLAST}>"  alt="" align="middle"/>&nbsp;<{$smarty.const._MD_IMLINKS_LEGENDTEXTNEWLAST}>
 &nbsp;</div>
</div>
<{/if}>
<{$catarray.indexfooter}>

<{if $showlatest}>
    <br /><br />
	<div class="odd" style="font-size: bigger; font-weight: bold;"><{$smarty.const._MD_IMLINKS_LATESTLIST}></div>
	<br />
	<{if $pagenav}>
    <div><{$pagenav}></div>
    <br />
    <{/if}>
	<table width="100%" cellspacing="0" cellpadding="10" border="0">
		<tr>
			<td width="100%">
				<!-- Start link loop -->
				<{section name=i loop=$link}>
				  <{include file="db:imlinks_linkload.html" link=$link[i]}>
				<{/section}>
				<!-- End link loop -->
			</td>
		</tr>
	</table>
	<{if $pagenav}>
    <div align="right"><{$pagenav}></div>
    <{/if}>
<{/if}>

<{include file="db:system_notification_select.html"}>