<link rel="stylesheet" type="text/css" href="<{$icms_url}>/modules/<{$module_dir}>/style.css" />

<script type="text/javascript" language="javascript" src="<{$icms_url}>/modules/<{$module_dir}>/js/behavior.js"></script>
<script type="text/javascript" language="javascript" src="<{$icms_url}>/modules/<{$module_dir}>/js/rating.js"></script>

<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/lytebox/lytebox.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="<{$icms_url}>/libraries/lytebox/lytebox.css" />

<{if $lightwindow == 1}>
	<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/prototype/prototype.js"></script>
	<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/scriptaculous/src/scriptaculous.js?load=effects"></script>
	<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/lightwindow/lightwindow.js"></script>
	<link rel="stylesheet" type="text/css" href="<{$icms_url}>/libraries/lightwindow/lightwindow.css" />
<{elseif $lightwindow == 2}>
	<script type="text/javascript">var GB_ROOT_DIR = "<{$icms_url}>/libraries/greybox/";</script>
	<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/greybox/AJS.js"></script>
	<script type="text/javascript" language="javascript" src="<{$icms_url}>/libraries/greybox/gb_scripts.js"></script> 
	<link rel="stylesheet" type="text/css" href="<{$icms_url}>/libraries/greybox/gb_styles.css" />
<{/if}>

<{$catarray.imageheader}>

<{$description}>

<div style="padding-bottom: 12px; text-align: center;" class="itemPermaLink"><{$catarray.letters}></div>
<div style="padding-bottom: 16px; text-align: center;"><{$catarray.toolbar}></div>

<div class="imlinks_catpath" style="font-size: smaller; font-weight: bold; margin-bottom: 10px;"><{$category_path}></div>

<{if $subcategories}>
	<div style="border: #e8e8e8 1px solid; padding: 8px; border-radius: 5px;">
		<div style="font-weight: bold; padding-bottom: 8px;"><{$smarty.const._MD_IMLINKS_SUBCATLISTING}></div>
		<table width="80%">
			<tr>
				<{foreach item=subcat from=$subcategories}>
					<td>
						<a href="viewcat.php?cid=<{$subcat.id}>"><img src="<{$subcat.image}>" alt="<{$subcat.alttext}>" title="<{$subcat.alttext}>" align="top" /></a>
						<a href="viewcat.php?cid=<{$subcat.id}>"><{$subcat.title}></a>&nbsp;(<{$subcat.totallinks}>)
						<{if $subcat.infercategories}>
							<{$subcat.infercategories}>
						<{/if}>
					</td>
					<{if $subcat.count is div by $catcols}>
						</tr><tr>
					<{/if}>
				<{/foreach}>
			</tr>
		</table>    
	</div>
	<br />
<{/if}>

<{if $show_links == true}> 
	<div style="text-align:center; font-size: 70%; margin-bottom: 20px;">
		<b><{$smarty.const._MD_IMLINKS_SORTBY}></b>&nbsp;<{$smarty.const._TITLE}> (
			<a href="viewcat.php?cid=<{$category_id}>&orderby=titleA"><img src="images/up.png" alt="" style="vertical-align: bottom;" /></a>
			<a href="viewcat.php?cid=<{$category_id}>&orderby=titleD"><img src="images/down.png" alt="" style="vertical-align: bottom;" /></a> )
		&nbsp;
		<{$smarty.const._DATE}> (
			<a href="viewcat.php?cid=<{$category_id}>&orderby=dateA"><img src="images/up.png" alt="" style="vertical-align: bottom;" /></a>
			<a href="viewcat.php?cid=<{$category_id}>&orderby=dateD"><img src="images/down.png" alt="" style="vertical-align: bottom;" /></a> )
		&nbsp;
		<{$smarty.const._MD_IMLINKS_RATING}> (
			<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingA"><img src="images/up.png" alt="" style="vertical-align: bottom;" /></a>
			<a href="viewcat.php?cid=<{$category_id}>&orderby=ratingD"><img src="images/down.png" alt="" style="vertical-align: bottom;" /></a> )    
		&nbsp;
		<{$smarty.const._MD_IMLINKS_POPULARITY}> (
			<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsA"><img src="images/up.png" alt="" style="vertical-align: bottom;" /></a>
			<a href="viewcat.php?cid=<{$category_id}>&orderby=hitsD"><img src="images/down.png" alt="" style="vertical-align: bottom;" /></a> )
		&nbsp;
		<{$smarty.const._MD_IMLINKS_COUNTRYSORT}> (
			<a href="viewcat.php?cid=<{$category_id}>&orderby=countryA"><img src="images/up.png" alt="" style="vertical-align: bottom;" /></a>
			<a href="viewcat.php?cid=<{$category_id}>&orderby=countryD"><img src="images/down.png" alt="" style="vertical-align: bottom;" /></a> )
<br />
<b><{$lang_cursortedby}></b><br />
</div>
<{/if}>

<{if $page_nav == true}>
  <div style="float: right;"><{$pagenav}></div>
<{/if}>

<div style="clear: both;">
	<!-- Start link loop -->
	<{section name=i loop=$imlink}>
		<{include file="db:imlinks_linkload.html" imlink=$imlink[i]}>
	<{/section}>
	<!-- End link loop -->
</div>

<{if $page_nav == true}>
	<div class="imlinks_horline">&nbsp;</div>
	<span style="float: right;"><{$pagenav}></span>
<{/if}>

<div style="clear: both; height: 2px;">&nbsp;</div>

<{include file="db:system_notification_select.html"}>