<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/<{$module_dir}>/style.css" />

<{if $catarray.imageheader != ""}> <br />
	<div style="padding-bottom: 12px; text-align: center;"><{$catarray.imageheader}></div>
	<br />
<{/if}>
<div style="padding-bottom: 12px; text-align: center;" class="itemPermaLink"><{$catarray.letters}></div>
<div style="padding-bottom: 12px; text-align: center;"><{$catarray.toolbar}></div>

<div><h2><{$smarty.const._MD_IMLINKS_NEWLINKS}></h2></div>

<table width="100%" border="0" cellspacing="2" cellpadding="0">
  <tr>
    <td height="5" colspan="2" class="even"><b><{$smarty.const._MD_IMLINKS_TOTALNEWLINKS}>:</b></td>
	<td width="65%">&nbsp;</td>
  </tr>
  <tr>
    <td width="30%" class="odd"><{$smarty.const._MD_IMLINKS_LASTWEEK}></td>
    <td width="5%" class="odd" align="center"><{$allweeklinks}></td>
    <td width="65%">&nbsp;</td>
  </tr>
  <tr>
    <td width="30%" class="odd"><{$smarty.const._MD_IMLINKS_LAST30DAYS}></td>
    <td width="5%" class="odd" align="center"><{$allmonthlinks}></td>
    <td width="65%">&nbsp;</td>
  </tr>
</table>

<br /><br />

<div style="width:50; float: left; margin-right: 8px;">
	<b><{$smarty.const._MD_IMLINKS_SHOW}>:</b>
</div>
<div class="button" style="width:50; float: left; margin-right: 3px;">
	<a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=7"><{$smarty.const._MD_IMLINKS_1WEEK}></a>
</div>
<div class="button" style="width:50; float: left; margin-right: 3px;">
	<a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=14"><{$smarty.const._MD_IMLINKS_2WEEKS}></a>
</div>
<div class="button" style="width:50; float: left; margin-right: 3px;">
	<a href="<{$xoops_url}>/modules/<{$module_dir}>/newlist.php?newlinkshowdays=30"><{$smarty.const._MD_IMLINKS_30DAYS}></a>
</div>


<br /><br /><br />

<table width="100%" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td class="even" width="230"><b><{$smarty.const._MD_IMLINKS_DTOTALFORLAST}> <{$newlinkshowdays}> <{$smarty.const._MD_IMLINKS_DAYS}></b></td>
    <td>&nbsp;</td>
  </tr>
</table>

<{if count($dailylinks) gt 0}>
  <!-- Start day loop -->
<{foreach item=dailylink from=$dailylinks}>
<table width="100%" border="0" cellspacing="1" cellpadding="0">
  <tr>
    <td class="odd" width="199"><a href="<{$xoops_url}>/modules/<{$module_dir}>/viewcat.php?selectdate=<{$dailylink.newlinkdayRaw}>"><{$dailylink.newlinkView}></a></td>
    <td class="odd" width="20" align="center"><{$dailylink.totallinks}></td>
    <td>&nbsp;</td>
  </tr>
</table>
<{/foreach}>
<!-- End day loop -->

<!-- <h4><{$smarty.const._MD_IMLINKS_LATESTLIST}></h4> -->
<table width="100%" cellspacing="0" cellpadding="2" border="0">
<tr>
<td width="100%">
  <!-- Start link loop -->
   <{section name=i loop=$link}>
	 <{include file="db:imlinks_linkload.html" link=$link[i]}>
   <{/section}>
  <!-- End link loop -->
</td></tr>
</table>
<{/if}>